<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../../dist/img/djezzy-logo.png" />
    <title>Inscription</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="fontawesome-free/css/all.min.css"
    />
    <!-- icheck bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="stylesheets/adminlte.min.css" />
  </head>
  <body class="hold-transition register-page">
    <div class="register-box card card-outline card-danger">
      <div class="card-header text-center">
        <a
          class="h1"
          href="/"
          style="color: initial; transition: color 0.3s"
          onmouseover="this.style.color='rgb(226, 6, 19)'"
          onmouseout="this.style.color='initial'"
          ><b>Djezzy</b></a
        >
      </div>

      <div class="card">
        <div class="card-body register-card-body">
          <p style="color: rgb(226, 6, 19)" class="login-box-msg">
            <b>Créer Un Compte</b>
          </p>

          <form action="../../index2.html" method="post">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nom et prénom"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Mot de Passe"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Confirmation Mot de Passe"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8"></div>
              <!-- /.col -->
              <div class="col-4">
                <button
                  style="background-color: rgb(226, 6, 19)"
                  type="submit"
                  class="btn btn-danger btn-block"
                >
                  Register
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <a href="login-v2.html" class="text-center"
            >Vous avez déjà un Compte?</a
          >
        </div>
        <!-- /.form-box -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.register-box -->

    <!-- jQuery -->
    <script src="jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="javascripts/adminlte.min.js"></script>
  </body>
</html>
